@font-face {
    font-family: "0xProtoNerdFontMono";
    src: url("https://raw.githubusercontent.com/inyourface34456/nerd-font/main/fonts/0xProtoNerdFontMono.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "0xProtoNerdFontMono";
    font-size: 15px;
}

button {
    font-family: inherit;
}
