@font-face {
    font-family: "LiterationMonoNerdFontPropo";
    src: url("https://raw.githubusercontent.com/inyourface34456/nerd-font/main/fonts/LiterationMonoNerdFontPropo.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "LiterationMonoNerdFontPropo";
    font-size: 15px;
}
