@font-face {
    font-family: "OverpassMNerdFont";
    src: url("https://raw.githubusercontent.com/inyourface34456/nerd-font/main/fonts/OverpassMNerdFont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "OverpassMNerdFont";
    font-size: 15px;
}
