@font-face {
    font-family: "ProFontIIxNerdFont";
    src: url("https://raw.githubusercontent.com/inyourface34456/nerd-font/main/fonts/ProFontIIxNerdFont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "ProFontIIxNerdFont";
    font-size: 15px;
}

button {
    font-family: inherit;
}
